<!DOCTYPE html >
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>esp</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Flask-JSONRPC" />
<meta name="author" content="Cenobit Technologies, Inc.  http://cenobit.es/" />

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/api.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/stilo_esp.css') }}">

<script type='text/javascript' src='static/js/esp/functionESP.js'></script>
<script type='text/javascript' src='static/js/esp/t_esp.js'></script>

 </head>

 <body>
  <h1 id="title"><img src="static/imagem/logo/logo_gercom.png" width="100px" height="40px" align="right"> SPT(SDN Prototyper Tool) - Construir Camada de Execução</h1>

  <!-- chama a função p/ construir ambiente de prototipação e simulação--> 

  <table align="center" cellspacing="4" cellpadding="1" width="50%">
  <tr>
  <td width="50%" valign="top" style="background-color: #e6e5d1; padding:10px">
	 <div id="creat_esp" style="color: black; font-size: 120%; text-align: center;">
	  <h3>Passos necessárias para construir a camada de execução </h3>
	  <hr>
	  <label for="aps"><b>Criar arquivos que instalam as ferramentas Mininet e OVS(OpenVSwitch): </b></label>
	  <button for="aps" onclick="AppAPS(); loading_start();">Criar</button>
	  <p id="ApAPS"></p>
	 </div>

	 <!-- chama a função p/ requisitar instalação de dependencias -->
	 <div id="install_dep" style="color: black; font-size: 120%; text-align: center;">
	  <p>
	  <hr>
      	  <button for="instdep" onclick="InstallDep(); loading_start();">Instalar Dependências</button>
          <p id="installdep"></p>
         </div> 

    <!-- chama a função p/ requisitar a instalação do mininet -->
    <div style="color: black; font-size: 120%; text-align: center;">
      <p>
      <hr>
      <button for="instmn" onclick="Instalmn(); loading_start();">Instalar Mininet</button>
      <p id="InstallMN"></p>
    </div>

    <!-- chama a função p/ requisitar instalação do Open vSwitch -->
    <div style="color: black; font-size: 120%; text-align: center;">
      <p>
      <hr>
      <button for="instovs" onclick="InstalOVS(); loading_start();">Instalar OVS</button>
      <p id="Installovs"></p>
    </div>
    
    <div style="color: black; font-size: 120%; text-align: center;">
      <p>
      <hr>
      <button for="sair" onclick="exit(); loading_start();">Sair</button>
      <p id="exit"></p>
    </div>
  
    <!-- chama a função p/ requisitar a inicialização do Open vSwitch
    <div style="color: black; font-size: 120%; text-align: center;">
      <hr>
      <b>Função(Inicialização do OpenvSwitch) caso o OpenvSwitch não inicialize ou apresente algum ERRO: </b>
      <br>
	   <label for="startovs"> <b>Restart OpenvSwitch: </b></label>
      <button for="startovs" onclick="startOVS(); loading_start();">Start</button>
      <p id="startovs"></p>
    </div>


    <div style="color: black; font-size: 120%; text-align: center;">
      <hr>
	   <label for="limpar"><b>Limpar Prototipação: </b></label>
      <button for="limpar" onclick="limpar_simulacao(); loading_start();">clean</button>
      <p align="center" id="limpar"></p>
    </div>-->
  </td>
  </tr>
  </table>   

  <div id ="loading" style="display:none; position: absolute; top: 50%; left: 50%; margin: -50px 0px 0px -50px;"><img id="loading" src="static/imagem/loading/load.gif"></div><br>

</body>
</html>
