/* Copyright 1998-2015 Northwoods Software Corporation. All Rights Reserved. */
html {
    background: #CCCCCC;
}

body {
  font-family: sans-serif;
  font-size: 13px;
  background-color: #808080;
}

h1#title {
    background: #669966;
    margin: 0;
    padding: 10px 14px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 3px #24776F;
    text-align: left;
    font-weight: normal;
    height: 50px;
}

h2, a {
    color: #377BA8;
    font-family: 'Georgia', serif;
    font-size: 1.2em;
}

p {
  max-width: 700px;
}

p.box {
  border: 1px solid #BBB;
  padding: 4px 4px 6px 4px;
}

p.warning {
  background-color: #FCD5CD
}

.diagramContainer {
  border : solid 1px blue;
}
pre {
  font-size : 9pt;
}

.footer {
  text-align: right;
  font-size: 10px;
}

/* new: */

#sample {
  background: #fbfafa; /* região da topologia */
  margin-left: 140px;
}

#menu {
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #DDD;
  padding: 4px;
  margin-right: 5px;
  background-color: #F9F9F9;
  width: 120px;
  float: left;
}

#sections {
  list-style-type: none;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  line-height: 1.3em;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

a li { color: #0645AD; }
a li:hover, a li:focus { background: #CEDFF2; }
a li.selected { background: #1E90FF; color: white }


.index {
  background: #ff4545;
  margin-top: 0px;
}

/* ################ */
div.authbar {
    background: #eee;
    padding: 0 15px;
    margin: 10px -15px;
    line-height: 25px;
    height: 25px;
    vertical-align: middle;
}

div.signinprogress {
    background: #ff4545;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8) url(spinner.png) center center no-repeat;
    font-size: 0;
}
